VITE_SUPABASE_URL=https://xmtaaiafldftfopjjjau.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_upOqd71myE6rWXRByFq_LA_C7JdptL5
VITE_SITE_TITLE=Victor Strava 
VITE_STRAVA_CLIENT_ID=213533
VITE_STRAVA_REDIRECT_URI=https://xmtaaiafldftfopjjjau.supabase.co/functions/v1/strava-oauth-callback

SUPABASE_URL=https://xmtaaiafldftfopjjjau.supabase.co
SUPABASE_ANON_KEY=sb_publishable_upOqd71myE6rWXRByFq_LA_C7JdptL5
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhtdGFhaWFmbGRmdGZvcGpqamF1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mzg2MDgxNywiZXhwIjoyMDg5NDM2ODE3fQ.XmfiOqgdhsr8EU23-mddQx9dy98TBn_9fdoyeGdiFbI
STRAVA_CLIENT_ID=213533
STRAVA_CLIENT_SECRET=7aeaa72b892c19670a461670fb4d1d9f1d4745b2
STRAVA_REDIRECT_URI=https://xmtaaiafldftfopjjjau.supabase.co/functions/v1/strava-oauth-callback
STRAVA_OWNER_ATHLETE_ID=84432323
OWNER_SETUP_SECRET=Conelperm1so!
PUBLIC_SITE_URL=https://stravafun.netlify.app
STRAVA_SYNC_MAX_PAGES=25
